<div id="login-sched">
  <%= link_to "Login", login_path(@user) %>
  <%= link_to "Monthly Schedule", monthlyschedule_path(@user) %>
</div>

<% if(@weekends.include?(@today)) %>
  <h3> ~ Support Heroes resting for the Weekend ~ </h3>
<% end %>

<% @users.each do |user| %>
  <% @dates.each_pair do |name, schedule| %>
    <% if(schedule.include?(@today)) %>
    <h3>
      <div class="daily-hero">
        <% if(name == user.name) %>
          Today's Support Hero!
          <br>
          <img src="<%= user.image_url %>"/>
          <br>
          <%= name.upcase %>
        <% end %>
      </div>
    </h3>
    <% end %>
  <% end %>
<% end %>

<% @users.each do |user| %>
  <li>
    <%= link_to user.name, user_path(user.id) %>
  </li>
<% end %>


