<%= link_to "Login", login_path(@user) %>

<h2> JULY 2015 </h3>

  <% @dates.each_pair do |name, schedule| %>
   <% if(schedule.include?(@today)) %>
    <%= name %>
   <% end %>
   <!-- <h3> Weekend </h3> -->
  <% end %>

  <%# @users.each do |user| %>
  <% @user.schedule.each_pair do |key, value| %>
    <p>
      <%= key %>
      <br>
      <img src="<%= @user.image_url %>"/>
      <br>
      <%= value %>
    </p>
  <% end %>
  <%# end %>

<%# end %>
