<%= link_to "Login", login_path(@user) %>
<%= link_to "Monthly Schedule", monthlyschedule_path(@user) %>

<h3><%= @user.name %></h3>
<img src="<%= @user.image_url %>"/>

<% @user.schedule.each_pair do |key, value| %>
    <% if(@user.name == value) %>
      <br>
    <div id="undoable">
      <%= key %> <%= button_to "Undoable", user_path, data: {disable_with: "Undoable"}, :class => "button", :method => :put %>
    </div>
    <% end %>
<% end %>
